{% extends"index.html.twig" %}

{% block title %}
{{producto.nombre}} - {{producto.marca}}
{% endblock %}

{% block body %}
    <h1>{{producto.nombre}} - {{producto.marca}}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto.precio }}</td>
            </tr>
            <tr>
                <th>CodigoDeBarras</th>
                <td>{{ producto.codigoDeBarras }}</td>
            </tr>
            <tr>
                <th>PrecioCompra</th>
                <td>{{ producto.precioCompra }}</td>
            </tr>
            <tr>
                <th>PrecioReal</th>
                <td>{{ producto.precioReal }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ producto.cantidad }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ producto.createdAt ? producto.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ producto.updatedAt ? producto.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('producto_index') }}">back to list</a>

    <a href="{{ path('producto_edit', {'id': producto.id}) }}">edit</a>

    {{ include('producto/_delete_form.html.twig') }}
{% endblock %}
