{% extends"index.html.twig" %}

{% block title %}
Editar {{categorium.nombre}}
{% endblock %}

{% block body %}
    <h1>Editar categoría {{categorium.nombre}}</h1>

    {{ include('categoria/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categoria_index') }}">back to list</a>

    {{ include('categoria/_delete_form.html.twig') }}
{% endblock %}
