{% extends"index.html.twig" %}

{% block title %}
Marcas
{% endblock %}

{% block body %}
    <h1>Marcas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Origen</th>
                <th>Pagina</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marca in marcas %}
            <tr>
                <td>{{ marca.id }}</td>
                <td>{{ marca.nombre }}</td>
                <td>{{ marca.origen }}</td>
                <td>{{ marca.pagina }}</td>
                <td>
                    <a href="{{ path('marca_show', {'id': marca.id}) }}">show</a>
                    <a href="{{ path('marca_edit', {'id': marca.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('marca_new') }}">Create new</a>
{% endblock %}
